<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="icon" href="/static/img/favicon.ico"/>

    <!-- Page Title -->
    <title>Value</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>

    <!-- Bootstrap docs CSS -->
    <link href="/static/bootstrap/css/docs.css" rel="stylesheet"/>

    <!-- JQueryUI CSS -->
    <link href="/static/jquery-ui/jquery-ui.min.css" rel="stylesheet"/>
    <link href="/static/jquery-ui/jquery-ui.theme.min.css" rel="stylesheet"/>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="/static/css/ie10-viewport-bug-workaround.css" rel="stylesheet"/>

    <!-- Custom styles for this template -->
    <link href="/static/css/navbar-fixed-top.css" rel="stylesheet"/>

    <!-- Footer CSS -->
    <link href="/static/css/footer.css" rel="stylesheet"/>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <!-- PAGE HEADER -->
    <div th:replace="fragments/header :: header"></div>
    <!-- ./PAGE HEADER -->
    
    <!-- Main container -->
    <div class="container">
        <div class="bs-callout bs-callout-info">
            <h2>Value</h2>
            <br/>

            <div class="alert alert-success alert-dismissable" th:text="${valueIsOk}" th:unless="${valueIsOk == null}">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            </div>

            <div class="alert alert-danger alert-dismissable" th:text="${valueIsNotOk}" th:unless="${valueIsNotOk == null}">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            </div>

            <form class="form-horizontal" action="#" th:action="@{/value}" th:object="${valueEntity}" method="post">
                <div class="form-group">
                    <label for="inputValueNumber" class="col-sm-2 control-label">Value Number</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="inputValueNumber" th:field="*{valueNumber}" placeholder=""/>
                        <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('valueNumber')}" th:errors="*{valueNumber}">
                            'Value Number' incorrect
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputAmount" class="col-sm-2 control-label">Amount</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="inputAmount" th:field="*{amount}" placeholder=""/>
                        <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}">
                            'Amount' incorrect
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputType" class="col-sm-2 control-label">Type</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="inputType" th:field="*{type}" placeholder=""/>
                        <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('type')}" th:errors="*{type}">
                            'Type' incorrect
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputValueDate" class="col-sm-2 control-label">Value Date</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="inputValueDate" th:field="*{valueDate}" placeholder=""/>
                        <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('valueDate')}" th:errors="*{valueDate}">
                            'Value Date' incorrect
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputOrder" class="col-sm-2 control-label">Order</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="inputOrder" th:field="*{order}" placeholder=""/>
                        <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('order')}" th:errors="*{order}">
                            'Order' incorrect
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputBeneficiary" class="col-sm-2 control-label">Beneficiary</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="inputBeneficiary" th:field="*{beneficiary}" placeholder=""/>
                        <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('beneficiary')}" th:errors="*{beneficiary}">
                            'Beneficiary' incorrect
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputBenefAccount" class="col-sm-2 control-label">Beneficiary Account</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="inputBenefAccount" th:field="*{beneficiaryAccount}" placeholder=""/>
                        <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('beneficiaryAccount')}" th:errors="*{beneficiaryAccount}">
                            'Beneficiary Account' incorrect
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputReference" class="col-sm-2 control-label">Reference</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="inputReference" th:field="*{reference}" placeholder=""/>
                        <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('reference')}" th:errors="*{reference}">
                            'Reference' incorrect
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputBank" class="col-sm-2 control-label">Bank</label>
                    <div class="col-sm-6">
                        <select class="form-control" id="inputBank" th:field="*{bank}">
                            <option value="Bank A">Bank A</option>
                            <option value="Bank B">Bank B</option>
                            <option value="Bank C">Bank C</option>
                        </select>
                        <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('bank')}" th:errors="*{bank}">
                            'Bank' not correct
                        </div>
                    </div>
                </div>

                <br/>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-6">
                        <button type="submit" class="btn btn-info">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- /container -->
    
    <!-- PAGE FOOTER -->
    <div th:replace="fragments/footer :: footer"></div>
    <!-- ./PAGE FOOTER -->

    <!-- === Include JavaScript files at the end of the document so the pages load faster === -->

    <!-- Bootstrap core JavaScript -->
    <script src="/static/jquery/dist/jquery-3.2.1.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>

    <!-- JQuery UI JavaScript -->
    <script src="/static/jquery-ui/jquery-ui.min.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/static/js/ie10-viewport-bug-workaround.js"></script>

    <!-- Include custom script -->
    <script src="/static/js/custom.js"></script>

    <!-- Perform custom JavaScript initialization calls -->
    <script type="text/javascript">
        // Set active menu to -> 'Valeurs'
        fSetActiveMenu('menuValue');

        // Enable JQuery UI DatePicker
        $(function() {
            $("#inputValueDate").datepicker({dateFormat: "yy-mm-dd"});
        });
    </script>

</body>
</html>
